*{
    box-sizing: border-box;
    color: aliceblue;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color:black;
}

body{
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height:80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid black;
    background-color: gray;
    z-index: 2;
}

nav{
    justify-content: end;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header li::before {   
    content: '';   
    display: inline-block;   
    height: 25px;   
    width: 25px;    
    margin-right: 5px;
    vertical-align: middle;
}

header li a{
    text-decoration: none;
    color: black;
}

header h1 {
    font-size: 4rem;
}

header li {
    padding-left: 25px;
    font-size: 2rem;
}

main{
    position: absolute;
    top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

#intro{
    width: 100%;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    
}

#intro p {
    padding: 0 200px 0 200px;
    text-align: justify;
}

.profile-img{
    object-fit: contain;
    height: 40%;
    width: 40%;
    border-radius: 5%;
}

.projects h2{
    width: 100%;
    text-align: center;
}

.project{
    width: 100%;
    height: 300px;
    padding: 0px 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-items: center;
    align-items: start;
}

.project div{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: justify;
    border: 1px white solid;
    padding: 10px;
    height: 100%;
    justify-content: space-between;
}

.project h3, p{
    margin: 0;
    
}

.project span{
    font-weight: bold;
}

.project-img{
    height: 100%;
    width: 300px;
    border: 1px white solid;
    border-radius: 5%;
}

#project1 .project-img{
    background-color: gold;
    object-fit: contain;

}

#project4 .project-img{
    background-color: white;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

#contact div {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    gap: 15px;
}

.fab, .fa-solid {
    vertical-align: middle; /* Aligns the icon with the text */
    margin-right: 8px; /* Adds space between the icon and the text */
    color: white; /* Default color */
}

.icon-large {
    font-size: 72px; /* Larger size */
}

.icon-small {
    font-size: 24px; /* Smaller size */
}




footer {
    position: fixed;
    height: 30px;
    min-width: 100%;
    z-index: 2;
    background-color:gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0px;
}