*{
    box-sizing: border-box;
    color: #2C3E50;
    font-family: "Michroma", sans-serif;
}

.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color:#FFFFFF;
}

body{
    width: 100%;
}

nav{
    justify-content: end;
}

#header-main {
    display:none;
}

h1{
    color: #BDC3C7;
    font-size: 2.25rem;
    font-family: "Bungee Shade", sans-serif;
}

h2{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: "Bungee Shade", sans-serif;
    letter-spacing: 0.75rem;
}

h3{
    font-size: 1.75rem;
    color: #FFFFFF;
    font-family: "Michroma", sans-serif;
    text-align: left;
}

h4{
    font-size: 1.25rem;
    color: #BDC3C7;
    font-family: "Bungee Shade", sans-serif;
}

p {
    font-size: 1rem;
    color: #BDC3C7;
}

a {
    color: #BDC3C7;
    text-decoration: none;
}

strong{
    font-size: 1.25rem;
    color: #FFFFFF;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    padding: 5px 15px 5px 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #2C3E50;
    z-index: 2;
}

header ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    padding: 0 0 0 15px;
    align-items: center;
    height: 100%;
    width: 100%;
    width: 300px;
}

header li a{
    font-family: "Bungee Shade", sans-serif;
}

header li {
    font-size: 1rem;
}

header li:hover{
    font-size: 1.25rem;
}

main{
    position: absolute;
    padding-top: 75px;
    width: 100%;
    padding-bottom: 50px;
}

#intro{
    width: 100%;
    margin: 0;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

#intro p {
    margin: 0px 0px 25px 0px;
    padding: 15px 10px 15px 15px;
    text-align: left;
    background-color: #2C3E50;
    border-radius: 15px;
}

#profile-img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 25px;
    transition: width 3s ease-in-out, height 3s ease-in-out;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
}

#contact div {
    display: flex;
    padding: 0 0 10px 10px;
    justify-content: space-between;
    gap: 15px;
}

.fab, .fa-solid {
    vertical-align: middle; /* Aligns the icon with the text */
    margin-right: 8px; /* Adds space between the icon and the text */
    color: #2C3E50; /* Default color */
    margin-top: 10px;
}

.icon-large {
    font-size: 50px; /* Larger size */
}
.icon-small {
    font-size: 24px; /* Smaller size */
}

footer {
    position: fixed;
    height: 40px;
    min-width: 100%;
    z-index: 2;
    background-color:#2C3E50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 0px;
    border: 1px solid black;
}

footer h3, footer p{
    color: #BDC3C7;
    font-size: 1rem;
}

.projects{
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.projects h2{
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    background-color:#2C3E50;
    padding: 40px 20px 40px 30px;
    margin: 0 0 30px 0;
    border-radius: 15px;
}

.project{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-items: center;
    align-items: start;
}

.project div{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    border: 1px #2C3E50 solid;
    padding: 15px;
    height: 100%;
    justify-content: space-between;
    background-color: #2C3E50;
    border-radius: 15px;
}

.project h3{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.project h3, p{
    margin: 0;
}

.project-img{
    display: none;
}

.project a {
    border: 1px solid black;
    text-align: center;
    background-color: #BDC3C7;
    padding: 5px;
    border-radius: 15px;
    color: #2C3E50;
}

.project-link{
    display: inline-block;
    text-align: center;
}

.resume{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

.resume h2{
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 30px 0;
    text-align: center;
    background-color:#2C3E50;
    color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 15px;
    font-family: "Bungee Shade", sans-serif;
   
}

.resume h3{
    font-size: 1.5rem;
    font-family: "Michroma", sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.resume h4{
    font-size: .92rem;
    font-family: "Michroma", sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: left;
}

.resume a{
    color: #FFFFFF;
}

.resume strong{
    font-style: italic;
}

.resume a:hover{
    color:#1ABC9C;
}

.resume-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    vertical-align: middle;
    text-align: left;
    border: 1px #2C3E50 solid;
    background-color: #2C3E50;
    border-radius: 15px;
    padding: 25px 15px 15px 15px;
    margin-bottom: 15px;
    align-items: start;
}

.resume-section h3{
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.school, .job {
    width: 100%;
    margin-bottom: 20px;
}

.school-header, .job-header{
    display:flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.school-header h4, .school-header p{
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.job-header h4, .job-header p{
    margin: 0;
}

.school-header p, .job-header p {
    display: none;
}

.alt-date{
    padding-bottom: 10px;
    display: flex;
    font-size: .85rem;
}

.alt-school-text{
    font-size: .85rem;
}

.main-school-text{
    display: none;
}

.gpa, .employer{
    font-size: .85rem;
}

.key-tools{
    font-size: .75rem;
}

/*This is for company names in the job experience section*/
.resume p a {
    color:#BDC3C7;
}

.school-header h4, .job-header h4, .job-header a{
    color: #FFFFFF;
}

.skills-list{
    margin-top: 0;
}
.skills-list ul {
    list-style-type: disk;
}

.skills-list li {
    font-size: .85rem;
    color: #BDC3C7;
    margin-left: -25px;
}

@media only screen and (min-width: 500px){

    #header-main {
        display: none;
    }
    #header-alt {
        display:inline-block;
    }
    header h1 {
        font-size: 2.25rem;
    }
    header {
        height: 50px;
        padding: 0px 10px;
    }
    header ul{
        width: 400px;
        height: 50px;
    }

    header li{
        font-size: 1.25rem;
    }
    header li:hover{
        font-size: 1.5rem;
    }

    #profile-img{
        max-width: 400px;
    }

    .projects{
        padding: 0 10px;
    }

    .resume{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }
    
    .resume h2{
        display: inline-block;
        font-size: 2rem;
        margin: 0 0 30px 0;
        text-align: center;
        background-color:#2C3E50;
        color: #FFFFFF;
        padding: 40px 30px;
        border-radius: 15px;
        font-family: "Bungee Shade", sans-serif;
       
    }
    
    .resume h3{
        font-size: 1.5rem;
        font-family: "Michroma", sans-serif;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
    }
    
    .resume h4{
        font-size: 1.11rem;
        font-family: "Michroma", sans-serif;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        text-align: left;
    }
    
    .resume a{
        color: #FFFFFF;
    }
    
    .resume strong{
        font-style: italic;
    }
    
    .resume a:hover{
        color:#1ABC9C;
    }
    
    .resume-section{
        display: flex;
        width: 100%;
        flex-direction: column;
        vertical-align: middle;
        text-align: left;
        border: 1px #2C3E50 solid;
        background-color: #2C3E50;
        border-radius: 15px;
        padding: 25px 15px 15px 15px;
        margin-bottom: 15px;
        align-items: start;
    }
    
    .resume-section h3{
        text-align: center;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .school, .job {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .school-header, .job-header{
        display:flex;
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    
    .school-header h4, .school-header p{
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
    }
    
    .job-header h4, .job-header p{
        margin: 0;
    }
    
    .school-header p, .job-header p {
        display: none;
    }
    
    .alt-date{
        padding-bottom: 10px;
        display: flex;
        font-size: 1rem;
    }
    
    .alt-school-text{
        font-size: 1rem;
    }
    
    .gpa, .employer{
        font-size: 1rem;
    }
    
    .key-tools{
        font-size: .9rem;
    }
    
    /*This is for company names in the job experience section*/
    .resume p a {
        color:#BDC3C7;
    }
    
    .school-header h4, .job-header h4, .job-header a{
        color: #FFFFFF;
    }
    
    .skills-list{
        margin-top: 0;
    }
    .skills-list ul {
        list-style-type: disk;
    }
    
    .skills-list li {
        font-size: 1rem;
        color: #BDC3C7;
        margin-left: -25px;
    }
}
/* MEDIA QUERY: >= 500px - END*/

@media only screen and (min-width: 800px){
    #header-main {
        display: inline-block;
        font-size: 1.75rem;
    }

    #header-alt {
        display:none;
    }

    header ul{
        width: 450px;
        height: 50px;
    }

    #index-main{
        top: 25px;
    }

    #projects-main{
        top: 25px;
    }
    #resume-main{
        top: 25px;
    }

    #profile-img{
        max-width: 500px;
    }

    .icon-large {
        font-size: 75px; /* Larger size */
    }
    
    #intro p {
        margin: 0 15px 0 15px;
        padding: 15px;
        text-align:left;
        background-color: #2C3E50;
        border-radius: 15px;
        font-size: 1.5rem;
    }

    strong{
        font-size: 1.5rem;
    }


    .projects{
        padding: 0 8px;
    }

    .projects h2{
        font-size: 3rem;
    }

    .project h3 {
        font-size: 2rem;
    }

    .resume{
        padding: 0 8px;
    }

    footer {
        height: 40px;
        padding: 10px;
    }
    
    footer h3, footer p{
        font-size: 1.25rem;
    }

    .projects{
        padding: 0 20px;
    }

    .resume{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }

        
    .resume h2{
        display: inline-block;
        font-size: 2.5rem;
        margin: 0 0 30px 0;
        text-align: center;
        background-color:#2C3E50;
        color: #FFFFFF;
        padding: 40px 30px;
        border-radius: 15px;
        font-family: "Bungee Shade", sans-serif;
       
    }
    
    .resume h3{
        font-size: 2.25rem;
        font-family: "Michroma", sans-serif;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
    }
    
    .resume h4{
        font-size: 1.75rem;
        font-family: "Michroma", sans-serif;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        text-align: left;
    }
    
    .resume a{
        color: #FFFFFF;
    }
    
    .resume strong{
        font-style: italic;
    }
    
    .resume a:hover{
        color:#1ABC9C;
    }
    
    .resume-section{
        display: flex;
        width: 100%;
        flex-direction: column;
        vertical-align: middle;
        text-align: left;
        border: 1px #2C3E50 solid;
        background-color: #2C3E50;
        border-radius: 15px;
        padding: 25px 50px 15px 50px;
        margin-bottom: 15px;
        align-items: start;
    }
    
    .resume-section h3{
        text-align: center;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .school, .job {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .school-header, .job-header{
        display:flex;
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    
    .school-header h4, .school-header p{
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
    }

    .school-header p, .job-header p {
        display: none;
    }
    
    .job-header h4, .job-header p{
        margin: 0;
    }
    
    
    .alt-date{
        padding-bottom: 10px;
        display: flex;
        font-size: 1.5rem;
    }

    .alt-school-text{
        display:inline-block;
        font-size: 1.5rem;
    }
    
    .gpa, .employer{
        font-size: 1.5rem;
    }
    
    .key-tools{
        font-size: 1.5rem;
    }
    
    /*This is for company names in the job experience section*/
    .resume p a {
        color:#BDC3C7;
    }
    
    .school-header h4, .job-header h4, .job-header a{
        color: #FFFFFF;
    }
    
    .skills-list{
        margin-top: 0;
    }
    .skills-list ul {
        list-style-type: disk;
    }
    
    .skills-list li {
        font-size: 1.5rem;
        color: #BDC3C7;
        margin-left: -15px;
    }

}
/* MEDIA QUERY: >= 800px - END*/

@media only screen and (min-width: 1500px){
    #header-main {
        display: inline-block;
        font-size: 2rem;
    }

    #header-alt {
        display:none;
    }

    header ul{
        width: 600px;
        height: 50px;
    }

    header li {
        font-size: 1.5rem;
    }
    
    header li:hover{
        font-size: 1.75rem;
    }

    #index-main{
        top: 40px;
    }
    #projects-main{
        top: 40px;
    }
    #resume-main{
        top: 40px;
    }

    #profile-img{
        max-width: 600px;
    }

    .icon-large {
        font-size: 100px; /* Larger size */
    }

    #intro{
        margin-bottom: 50px;
    }
    
    #intro p {
        margin: 0 15px 0 15px;
        padding: 15px;
        text-align:left;
        background-color: #2C3E50;
        border-radius: 15px;
        font-size: 1.5rem;
    }

    strong{
        font-size: 1.5rem;
    }

    .project{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        justify-items: center;
        align-items: start;
        justify-content: space-between;
        height: 500px;
    }

    .projects{
        padding: 0 30px;
    }

    .projects h2{
        font-size: 3rem;
    }

    .project h3 {
        font-size: 2rem;
        text-align: left;
    }

    .project p{
        text-align: left;
        font-size: 1.25rem;
    }

    .project-img{
        display: flex;
        height: 500px;
        width: 100%;
        border: 1px white solid;
        border-radius: 15px;
        align-items: stretch;
        justify-items: stretch;
        object-fit: cover;
    }
    
    #project1 .project-img{
        background-color: gold;
    
    }
    
    #project4 .project-img{
        background-color: #53779b;
    }
    

    .resume{
        padding: 0 30px;
    }

    .school-header p, .job-header p {
        display: flex;
        font-size: 1.25rem;
    }
    .alt-date{
        display: none;
    }

    .main-school-text{
        display:inline-block;
        font-size: 1.5rem;
    }
    
    .alt-school-text{
        display: none;
    }
    

    footer {
        height: 40px;
        padding: 10px;
    }
    
    footer h3, footer p{
        font-size: 1.75rem;
    }

}
/* MEDIA QUERY: >= 1500px - END*/